.banner-section{
  
  
  .otherbanner-desk{
    display: none;
    @media screen and (min-width:768px){
      display: flex;
    }
  }
  .otherbanner-mb{
    
    @media screen and (min-width:768px){
      display: none;
    }
  }
}

.about-section {
  padding-top: 20px;
  padding-bottom: 40px;
  
  
  .about-img {
    margin-bottom: 25px;
    img {
      width: 100%;
    }
  }
  .staff-row {
    margin-bottom: 3rem;
    .staff-desc {
      margin-bottom: 25px;
    }
  }  
  .about-wrap {
    margin-bottom: 3rem;
  }
  h4  {
    margin-bottom: 20px;
  }
  .our-vision img,
  .our-mission img {
    max-width: 65px;
    height: 48px;
    margin-bottom: 20px;
  }
}

