.banner-section {
  position: relative;
  .float-contact-us {
    position: absolute;
    left: calc(100% - 73px);
    bottom: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    .contact-us {
      position: relative;
      margin-right: 10px;
      
      .btn {
        &.btn-warning {
          transition: all .3s ease-in-out;
          margin: 0;
          &:active,
          &:focus,
          &:hover {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
            background: #eca921 !important;
            transition: all .3s ease-in-out;
          }
        }
      }
      .social {
        position: absolute;
        top: -55px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: translateX(-40px);
        a {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s ease-in-out;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
          // &:hover {
          //   box-shadow: 0px -2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
          //   transition: all .3s ease-in-out;
          // }
          &.twitter {
            background: #00acee;
          }
          &.viber {
            background: #665cac;
          }
          &.instagram {
            background: #3f729b;
          }
          &.facebook {
            background: #3b5998;
          }
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          i {
            transform: rotate(90deg);
            &.fab {
              font-size: 30px;
              color: $color-white;
            }
          }
        }
      }
    }
    .social-icns{
      position: absolute;
      left: -9px;
      transform: translate(16%,60%);
      // transform: translate(16%,-76%);
      #shareBlock{
        a{
          display: inline-block;
          margin: 6px 3px !important;
          text-decoration: none;
          transition: all 0.2s ease 0s;
          transform: translateY(18px) !important;
          &:hover{
            transform: translateY(17px) !important;
          }
          
          
        }
      }
    }
  }
  .breadcrumb-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    nav {
      &.breadcrumb-nav {
        ol {
          &.breadcrumb {
            background: none;
            margin-bottom: 0;
            li {
              &.breadcrumb-item {
                a {
                  color: $color-white;
                }
                span {
                  color: $color-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
