.card:not(.no-card) {
  margin-bottom: 25px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    transition: all .3s ease-in-out;
    img {
      filter: sepia(100%);
      transition: all .3s ease-in-out;
    }
  }
  .view {
    position: relative;
    transition: all .3s ease-in-out;
    img {
      transition: all .3s ease-in-out;
    }
    .amount-day {
      position: absolute;
      left: 0;
      bottom: 0;
      color: $color-white;
      padding: 10px;
      background: rgba(0, 0, 0, 0.4);
      i {
        margin-right: 10px;
      }
    }
  }
  .card-body {
    position: relative;
    
    .card-title {
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding-bottom: 20px;
    }
    .card-text {
      margin-top: 1.5rem;
      height: 80px;
    }
    a {
      &.black-text {
        display: inline-block;
        color: $color-blue !important;
        outline: -webkit-focus-ring-color auto 0;
        &:hover {
          color: rgba(85,105,254,0.72) !important;
        }
        h5 {
          font-size: 16px;
          @media screen and (min-width: 1200px) {
            font-size: 18px;
          }
          i {
            margin-left: 5px;
          }
        }
      }
      &.btn-warning {
        padding: .6rem 1.14rem;
        @media screen and (min-width: 1200px) {
          padding: .84rem 2.14rem;
        }
      }
    }

    .booking-now {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
