.bold {
	font-weight: 600 !important;
}

/*common css*/
.star {
	color: $color-red;
	margin-left: 2px;
}


.card-active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.upper {
	text-transform: uppercase !important;
}

.m-width {
	min-width: 100% !important;
}

.p-r-0 {
	padding-right: 0 !important;
}

.p-l-0 {
	padding-left: 0 !important;
}

.header-section {
	padding-bottom: 20px;
}

.opacity-0 {
	opacity: 0;
}

.img-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	overflow: hidden;
}

.margin-auto {
	margin: auto;
}

.no-background {
	background: 0 !important;
}

section:not(.section-header) {
	padding-top: 25px !important;
	padding-bottom: 25px !important;

	@media screen and (min-width: 768px) {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}

	@media screen and (min-width: 992px) {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}

	&.pad-0 {
		padding: 0 !important;
	}
	ul {
		list-style-type: none;
		padding-inline-start: 0;
		&.include {
			li {
				&:not(.upper) {
					&:before {
						content: "\f058";
						font-family: 'Font Awesome 5 Free', sans-serif;
						font-weight: 900;
					}
				}
			}
		}
		&.not-include {
			li {
				&:not(.upper) {
					&:before {
						content: "\f057";
						font-family: 'Font Awesome 5 Free', sans-serif;
						font-weight: 900;
					}
				}
			}
		}
		li {
			&:not(.upper):not(.nav-item) {
				margin-bottom: 8px;
				&:before {
					color: #cea24a;
					margin-right: 5px;
					font-size: 14px;
				}
			}
			&.upper {
				margin-bottom: 10px;
			}
		}
	}
	.horizontal-rule {
		position: relative;
		padding-bottom: 32px;
		margin-bottom: 32px;
		&:last-child:after {
			display: none;
		}
		&:after {
			content: '';
			width: 100%;
			position: absolute;
			bottom: 0;
			background: rgba(0,0,0,.13);
			height: 1px;
			left: 0;
			@media screen and (min-width: 992px) {
				width: 90%;
				left: 55px;
			}
		}
		ul {
			margin-bottom: 0;
		}
	}
}
.facilities-service {
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
	}
}
/*-----*/

/*modal box*/
.modal-footer {
	@media screen and (max-width: 400px) {
		justify-content: flex-start;

		button {
			&.btn {
				padding: .84rem 30px;
			}
		}
	}
}


.section-header:not(.remove-pad-top) {
	padding-top: 25px !important;
	padding-bottom: 20px !important;
	font-family: 'Oleo Script', cursive;
	@media screen and (min-width: 768px) {
		padding-top: 30px !important;
	}

	@media screen and (min-width: 992px) {
		padding-top: 40px !important;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 40px !important;
	}
	h4 {
		font-size: 16px;
		
		@media screen and (min-width: 768px) {
			font-size: 20px;
		}
		@media screen and (min-width: 992px) {
			font-size: 24px;
		}
		&.bold {
			color: #ca992b;
		}
		
		}
	h3 {
		font-size: 18px;
		@media screen and (min-width: 768px) {
			font-size: 24px;
		}
		@media screen and (min-width: 992px) {
			font-size: 1.75rem;
		}
		&.header-color {
			color: #ca992b;
		}
	}
	.sub-header {
		color: #ca992b;
		font-size: 14px;
		margin-bottom: 8px;
		@media screen and (min-width: 768px) {
			font-size: 16px;
		}
	
		@media screen and (min-width: 992px) {
			font-size: 18px;
		}
	}
}

.header-underline {
	position: relative;

	&:after {
		position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 5px;
    border-radius: 16px;
    margin: 0 auto;
    content: "";
    background: linear-gradient(105deg,#5d4601 0,#ba8b02 79%) 0 0 no-repeat;



	}

	p {
		color: #ca992b;
	}
}