.contact-wrap{
    
    .contact-info{
        border-bottom: 1px solid #ccc;
        .header-underline{
          &::after{
            margin: 0;
          }
        }
        ul{
            list-style: none;
            padding: 0;
            margin-top: 1.5rem;
            li{
                display: flex;
                margin-bottom: 1.5rem;
                a{
                  span{
                    color: #333;
                  }
                }
                i{
                    margin-right: 20px;
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
        }
    }
    .share-with-us{
      margin-top: 30px;
      margin-bottom: 30px;
      .share-with-us-blog{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i{
          background: #51baed;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 37px;
          height: 37px;
          padding-top: 0px;
          margin-right: 15px;
          font-size: 20px;
          color: #fff;
          border-radius: 50%;
          box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
          transition: all .15s ease-in-out;
          
          &:hover{
            box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
            transition: all .15s ease-in-out;
          }
  
        }
        .fa-facebook-f{
          background:#3e8bc4;
        }
        .fa-viber{
          background:#665CAC;
        }
        .fa-instagram{
          background:linear-gradient(to bottom left, #FEDA77, #ea2739);
        }
      }
    }
    
}

.enquiry-form {
  .input-group {
    padding-top: 20px;
    .input-group-prepend {
      label {
        width: 135px;
      }
    }
  }
}