.cutomised-section{
	.socical-icn{
		input{
			margin-left:10px;
			margin-right: 10px;
			@media screen and (min-width:768px){
				margin-left: 6px;
				margin-right: 6px;
			}
			@media screen and (min-width:992px){
				margin-left:10px;
				margin-right: 10px;
			}
		}
	}
	.arrival-date{
		input{
			background: url("../images/icons/calendar.svg") no-repeat right/10%;
			background-size: 50px 20px;
		}
	}
	.laguage-guide{
		.check-btn{
			display: flex;
			.form-check{
				margin-right: 10px;
				@media screen and (min-width:376px){
					margin-right: 15px;	
				}
			}
		}
	}
	.staff-row{
		.header-underline{
				margin-bottom:40px;      
		}
		
		.second-col{
			margin-top: 12px;
			@media screen and (min-width:768px){
				margin-top: 0px;
			}
		}
		.booking-formbtn{
			button{
				background: linear-gradient(105deg,#5d4601 0,#ba8b02 79%) 0 0 no-repeat;
				border-radius: 10px;
			}
		}
	}
	
}