.messenger-popup-section {
  z-index: 9999;
  position: fixed;
  right: 3px;
  bottom: 5em;
  @media screen and (min-width: 875px) {
    right: 3em;
  }
  @media screen and (min-width: 1500px) {
    right: 15em;
  }
  .messenger-popup {
    a {
      i {
        width: 45px;
        height: 45px;
        padding-top: 0;
        padding-left: 0;
        overflow: initial;
        color: #2095f3;
        font-size: 48px;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        background: $color-white;
        &:hover {
          box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        }
      }
    }
  }
}

.btn-floating-icon {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 99999;
  overflow: hidden;
  transition: $transition;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  }
  i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
  }
}

.return-to-top-section {
  .return-to-top {
    position: fixed;
    bottom: 20px;
    right: 10%;
    background: rgba(55, 55, 55, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    z-index: 99999;
    &:hover {
      i {
        position: relative;
        top: 5px;
        transition: all 0.3s ease;
      }
    }
    i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      transition: all .3s ease;
      
    }
    &:hover {
      background: rgba(55, 55, 55, 0.9);
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }
  }
}

// .float-contact-us {
//   position: absolute;
//   right: -50px;
//   bottom: 12em;
//   @media screen and (min-width: 1366px) {
//     bottom: 16em; 
//   }
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50px;
//   transform: rotate(-90deg);
//   z-index: 9999;
//   .contact-us {
//     position: relative;
//     margin-right: 10px;
//     .btn {
//       &.btn-warning {
//         transition: all .3s ease-in-out;
//         margin: 0;
//         &:active,
//         &:focus,
//         &:hover {
//           box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
//           background: #eca921 !important;
//           transition: all .3s ease-in-out;
//         }
//       }
//     }
//     .social {
//       position: absolute;
//       top: -55px;
//       width: 250px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       transform: translateX(-40px);
//       a {
//         width: 45px;
//         height: 45px;
//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         transition: all .3s ease-in-out;
//         box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
//         &:hover {
//           box-shadow: 0px -2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
//           transition: all .3s ease-in-out;
//         }
//         &.twitter {
//           background: #00acee;
//         }
//         &.viber {
//           background: #665cac;
//         }
//         &.instagram {
//           background: #3f729b;
//         }
//         &.facebook {
//           background: #3b5998;
//         }
//         margin-right: 15px;
//         &:last-child {
//           margin-right: 0;
//         }
//         i {
//           transform: rotate(90deg);
//           &.fab {
//             font-size: 30px;
//             color: $color-white;
//           }
//         }
//       }
//     }
//   }
// }