footer {
  background-color: $color-black;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 400;
  
  .address, .ph-number, .email {
    padding-top: 10px;
    padding-bottom: 10px;    
    margin-top: 20px;
    
  }
  .ph-number{
    h3{
      color: $color-white;
    }
    .contact-phone , .contact-mail , .contact-address{
      p {
        min-width: 80px;
        margin-bottom: .3rem;
        position: relative;
        color: #FFFFFF;
        &::after{
          content: ':';
          position: absolute;
          top: 0px;
          right: 10px;
          
        }
      }
      a{
        color: $color-black-3;
      }
    }
    .contact-address{
      .address-txt{
        color:$color-black-3;
      }
    }
  }
  .address{
    h3{
      color: $color-white;
    }
    ul{
      list-style-type: none;
      padding: 0px;
      margin-top: 20px;
      li{
        margin-bottom: 5px;
        a{
          color: $color-black-3;
          &:hover{
            color: $color-white;
            
          }
        }
        
      
      }
    }
  }
  .email{
    .footer-logo{
      display: flex;
      h3{
        color: $color-white;
      }
      img{
        width: 60px;
        height: 60px;
      }
      .logo-text{
        padding-left: 10px;
        p,a{
          color: $color-black-3;
        }
      }
    }
    .share-with-us-blog{
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      i{
        background: #51baed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        padding-top: 0px;
        margin-right: 15px;
        font-size: 20px;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        transition: all 1s ease-in-out;
        
        &:hover{
          transform: rotateZ(360deg);
          transition: all 1s ease-in-out;
        }
      }
      .fa-facebook-f{
        background:#3e8bc4;
      }
      .fa-viber{
        background:#665CAC;
      }
      .fa-instagram{
        background:linear-gradient(to bottom left, #FEDA77, #ea2739);
      }
    }
  }
  img {
    width: 150px;
  }
  .icon {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    @media screen and (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
    .d-inline-block {
      display: inline-block;
    }
  }
  p {
    a {
      color: $color-black;
      &:hover {
        color: $color-black;
      }
      .fa-facebook-square {
        font-size: 30px;
      }
      .fa-instagram {
        font-size: 30px;
      }
    }
  }
}
nav {
  &.copy-right {
    background-color: $color-black;
    p {
      color: $color-white;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      a {
        margin-left: 7px;
        color: #9a9b9c;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
