header {
  .top-nav {
    background: $color-black;
    .col-md-12 {
      @media screen and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .top-navbar {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .navbar-phone-no {
        display: flex;
      }
      .language-switch{
        display: flex;
        align-items: center;
        margin-right: 30px;
        a{
          margin: 0px;
          .en , .jp{
            width: 24px;
            padding: 2px;
          }
          .jp{
            width: 27px;
          }
        }
        
      }
      a {
        color: $color-white;
        margin-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        &.top-nav-phone,
        &.top-nav-email,
        &.top-nav-fb,
        &.top-nav-inst {
          img{
            width: 20px;
          }
          span{
            color: $color-white;
            padding-left: 10px;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        @media screen and (min-width: 768px) {
          display: flex;
          align-items: center;
        }
        i {
          margin-right: 10px;
          font-size: 16px;
        }
      }
      select {
        // background-color: rgb(206, 162, 63);
        border: none;
        color: $color-black-2;
        user-select: none;
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
        cursor: pointer;
      }

      .line {
        margin-top: 2px;
        margin-bottom: 2px;
        display: none;
        background-color: $color-green;
        @media screen and (min-width: 768px) {
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  nav {
    z-index: 1;
    &.navbar-expand-lg {
      &.navbar-light {
        background: $color-white;
        min-height: 50px;
        .container {
          @media screen and (max-width: 575px) {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }
    }
    .dsk-navbar {
      @media screen and (min-width: 992px) {
        display: flex;
        justify-content: flex-end;
      }
    }
    .logo-section{
      display: flex;
      padding-top: 0px;
      padding-bottom: 0px;
      @media screen and (min-width:992px){
        padding-top: 10px;
        padding-bottom: 10px; 
      }
      a {
        &.navbar-brand {
          img {
            max-width: 60px;
            &.logo-img {
              width: 150px;
            }
          }
        }
      }
      .logo-test{
        display: none;
        @media screen and (min-width:576px){
          display: block;
          padding-top: 10px;
          h3 , p{
            margin: 0px;
            color: $color-black;
          }
        }
        
      }
    }
    
    div {
      &.navbar-nav {
        margin-bottom: 20px;
        font-weight: 400;
        @media screen and (min-width: 992px) {
          margin-bottom: 0;
        }
        div {
          &.nav-item {
            margin-right: 35px;
            position: relative;
            @media screen and (min-width:992px){
              margin-right: 20px;
            }
            
            &.logo {
              @media screen and (min-width: 992px) {
                width: 155px;
              }
              a {
                @media screen and (min-width: 992px) {
                  border: 1px solid #ffffff;
                  display: block;
                  width: 120px;
                  height: 70px;
                  position: absolute;
                  top: -14px;
                  left: 20px;
                  border-radius: 50%;
                  background: #d1a31c;
                }
              }
            }
            &.drp-nav-item {
              .dropdown-menu {
                a {
                  color: #000000 !important;
                }
              }
            }
            .dropdown-menu {
              padding: .3rem;
              position: relative !important;
              @media screen and (min-width: 992px) {
                position: absolute !important;
              }
              .dropdown-item {
                padding-left: 10px !important;
                &.waves-effect {
                  &.waves-light {
                    display: block;
                  }
                }
                &:hover {
                  background-color: #f5f5f5;
                }
                &:active {
                  background-color: #f5f5f5;
                }
              }
              a {
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }
            a {
              padding-left: 0 !important;
              padding-right: 0 !important;
              
              &.nav-link {
                color: $color-black;
                text-align: center;
                padding-top: 20px;
                @media screen and (min-width:992px){
                  text-align: left;
                  padding-top: 0px;
                  font-size: 13px;
                }
                &:hover {
                  color: $color-gold!important;
                }
              }
            }
            &.active {
              a {
                overflow: initial;
                padding-left: 0;
                padding-right: 0;
                color: $color-blue-1;
                &.nav-link {
                  background: none !important;
                }
                
                &:after {
                  content: ' ';
                  width: 10%;
                  height: 3px;
                  position: absolute;
                  left: 45%;
                  bottom: -5px;
                  background: linear-gradient(105deg ,rgba(5, 5, 5, 0.8) 0%, #D2A40E 79% ) 0% 0% no-repeat;
                  display: block;
                  @media screen and (min-width:992px){
                    width: 100%;
                    left: 0px;
                  }
                  
                }
              }
            }
          }
          a {
            color: $color-black;
          }
          &.nav-search {
            padding-left: 0;
            @media screen and (min-width: 768px) {
              padding-left: 35px;
            }
            form {
              input {
                outline: none;
                &[type="search"] {
                  -webkit-appearance: textfield;
                	-webkit-box-sizing: content-box;
                	font-family: inherit;
                	font-size: 100%;
                  background: url('https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png') no-repeat 9px center;
                  border: 1px solid #ccc;
                  padding: 7px 10px 7px 30px;
                  width: 70px;
                  border-radius: 10em;
                  transition: $transition;
                  @media screen and (min-width: 992px) {
                    width: 0;
                    position: absolute;
                    right: 0;
                  }
                  cursor: pointer;
                  &:focus {
                    width: 160px;
                    background-color: $color-white;
                    @media screen and (min-width: 992px) {
                      width: 600px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


