.banner-slide-section {
  position: relative;
  .float-contact-us {
    position: absolute;
    left: calc(100% - 73px);
    bottom: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    .contact-us {
      position: relative;
      margin-right: 10px;
      
      .btn {
        &.btn-warning {
          transition: all .3s ease-in-out;
          margin: 0;
          &:active,
          &:focus,
          &:hover {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
            background: #eca921 !important;
            transition: all .3s ease-in-out;
          }
        }
      }
      .social {
        position: absolute;
        top: -55px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: translateX(-40px);
        a {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s ease-in-out;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
          &:hover {
            box-shadow: 0px -2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
            transition: all .3s ease-in-out;
          }
          &.twitter {
            background: #00acee;
          }
          &.viber {
            background: #665cac;
          }
          &.instagram {
            background: #3f729b;
          }
          &.facebook {
            background: #3b5998;
          }
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          i {
            transform: rotate(90deg);
            &.fab {
              font-size: 30px;
              color: $color-white;
            }
          }
        }
      }
    }
    .social-icns{
      position: absolute;
      left: -9px;
      transform: translate(16%,60%);
      // transform: translate(16%,-76%);
      #shareBlock{
        a{
          display: inline-block;
          margin: 6px 3px!important;
          text-decoration: none;
          transition: all 0.2s ease 0s;
          transform: translateY(17px) !important;
          &:hover{
            transform: translateY(17px) !important;
          }
        }
      }
    }
  } 
  // end of float
  .banner-slide-wrapper {
    .banner-slide {
      .slide-wrap {
        .slide-item {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
          .slide-content {
            position: absolute;
            color: $color-white;
            h1 {
              font-weight: 600;
              font-size: 20px;
              @media screen and (min-width: 600px) {
                font-size: 32px;
              }
              @media screen and (min-width: 768px) {
                font-size: 36px;
              }
              @media screen and (min-width: 992px) {
                font-size: 48px;
              }
              @media screen and (min-width: 1200px) {
                font-size: 64px;
              }
              @media screen and (min-width: 1366px) {
                font-size: 72px;
              }
              span {
                font-weight: 500;
                color: $color-yellow;
              }
            }
            h2 {
              font-weight: 500;
              font-size: 18px;
              @media screen and (min-width: 768px) {
                font-size: 32px;
              }
              @media screen and (min-width: 992px) {
                font-size: 42px;
              }
              @media screen and (min-width: 1200px) {
                font-size: 48px;
              }
              @media screen and (min-width: 1366px) {
                font-size: 60px;
              }
            }
            button, a {
              &.btn {
                &.btn-warning {
                  padding: .6rem 1.14rem;
                  @media screen and (min-width: 1200px) {
                    padding: .84rem 2.14rem;
                  }
                }
              }
            }
          }
        }
      }
      .slick-prev {
        background: transparent;
        z-index: 999;
        left: 3px;
        @media screen and (min-width: 1500px) {
          left: 7%;
        }
        transition: $transition;
        &:before{
          content: ' ';
          background: url("../images/icons/arrow-right-white.svg") no-repeat center/100%;
          width: 30px;
          height: 40px;
          display: inline-block;
          transform: rotate(-180deg) translate3d(-30px, 0, 0);
          font-size: 30px;
          transition: $transition;
          @media screen and (max-width:577px){
            font-size: 20px;
          }
        }
      }
      .slick-next {
        background: transparent;
        z-index: 999;
        right: 10px;
        @media screen and (min-width: 1500px) {
          right: 6%;
        }
        transition: $transition;
        &:before{
          content: ' ';
          background: url("../images/icons/arrow-right-white.svg") no-repeat center/100%;
          width: 30px;
          height: 40px;
          display: inline-block;
          transform: rotate(0deg) translate3d(-40px, 0, 0);
          font-size: 30px;
          transition: $transition;
          @media screen and (max-width:577px){
            font-size: 20px;
          }
        }
      }
    }
  }
}
.holiday-package {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
  }
  .header-underline{
    margin-bottom: 30px;
    &::after{
      margin:0px;
    }
    
  }
  .book-now{
    background: linear-gradient(105deg,#5d4601 0,#ba8b02 79%) 0 0 no-repeat;
    border-radius: 10px;
  }
  .cus-tour{
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 30px;
    @media screen and (min-width:768px){
      margin-top: 0px;
    }
    .layerone{
      position: relative;
      border-radius: 10px;
      width: 80%;
      padding-top: 50px;
      padding-bottom: 50px;
      
    }
    .layertwo{
      border-radius: 10px;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
    }
    .layerthree{
      position: absolute;
      bottom: 0px;
      right: 40px;
      width: 42%;
      border-radius: 10px;
      
    }
    
  }
}
.latest-tours {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-header {
    padding-top: 0 !important;
    margin-bottom: 40px;
  }
  select {
    .disabled,
    option {
      &:disabled {
        color: #ffffff;
        font-size: 1px;
      }
    }
  }
  // img {
  //   &.card-img-top {      
  //     min-height: 270px;      
      
  //   }
  // }
  background-color: $color-blue-2;
  .tour-card-wrapper{
    .tour-card{
      
      .card-body{
        .card-title{
          border-bottom: 0px;
          
        }
        h4{
          color: $color-black;
        }
        .card-text{
          display: flex;
          justify-content: space-between;
          height: 60px;
          .duration{
            display: flex;
            i{
              color: $color-gold;
              padding-right: 10px;
              padding-top: 3px;
            }
            p{
              font-weight: 600;
            }
          }
          .price{
            h4{
              color: $color-gold;
              font-weight:600;
            }
            
          }
        }
        .button-read{
          p{
            color: $color-black-light;
            font-weight: 600;
          }
          
        }
      }
    }
    .pagin-load-more{
      .latest-tour{
        background: linear-gradient(105deg,#5d4601 0,#ba8b02 79%) 0 0 no-repeat;
        border-radius: 10px;
      }
      
    }
  }
  .latest-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    background: $color-white;
    margin-bottom: 20px;
    border-radius: .3rem;
    @media screen and (max-width: 767px) {
      padding-top: 20px;
    }
    button {
      &.md-form {
        margin-bottom: 20px;
      }
      span {
        margin-left: 4px;
      }
    }
    .latest-col {
      padding-left: 0;
      padding-right: 0;
    }
    .md-form {
      &.select-box {
        box-shadow: -2px 3px 10px rgba(32,40,52,.2);
        @media screen and (max-width: 767px) {
          margin-top: 0;
        }
        &.input-group {
          box-shadow: 4px 3px 10px rgba(32,40,52,.2);
          .input-group-text {
            border-radius: 0;
          }
        }
        select {
          height: 45px;
        }
      }
      .cu-padding {
        padding: .6rem 1rem .6rem !important;
      }
      label {
        i {
          position: absolute;
          top: 3px;
          left: 30px;
        }
      }
      select {
        border-radius: 0;
        &.cu-padding {
          padding: .6rem 3rem .6rem !important;
        }
        &:focus {
          border-color: $input-border-color;
        }
      }
      input {
        border: 1px solid $input-border-color;
        &:focus {
          box-shadow: none;
          border: 1px solid $input-border-color;
        }
      }
    }
  }
  .slide-card-wrapper {
    .slide-card {
      margin-bottom: 0;
      .slide-block {
        padding: 20px;
      }
      .slick-prev {
        background: transparent;
        z-index: 999;
        transition: $transition;
        left: 0;
        &:before{
          content: ' ';
          background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
          width: 30px;
          height: 40px;
          display: inline-block;
          transform: rotate(-180deg) translate3d(-30px, 0, 0);
          transition: $transition;
          font-size: 30px;
          position: absolute;
          left: 0;
          @media screen and (max-width:577px){
            font-size: 20px;
          }
          @media screen and (min-width: 992px) {
            left: -1.22em;
          }
          @media screen and (min-width: 1200px) {
            left: -1.6em;
          }
          @media screen and (min-width: 1366px) {
            left: -2em;
          }
        }
        &.slick-disabled {
          &:before {
            cursor: default;
          }
        }
      }
      .slick-next {
        background: transparent;
        z-index: 999;
        transition: $transition;
        right: 0;
        &:before{
          content: ' ';
          background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
          width: 30px;
          height: 40px;
          display: inline-block;
          transform: rotate(0deg) translate3d(-60px, 0, 0);
          transition: $transition;
          font-size: 30px;
          position: absolute;
          right: 0;
          @media screen and (max-width:577px){
            font-size: 20px;
          }
          @media screen and (min-width: 992px) {
            right: -2.3em;
          }
          @media screen and (min-width: 1200px) {
            right: -2.5em;
          }
          @media screen and (min-width: 1366px) {
            right: -3em;
          }
        }
        &.slick-disabled {
          &:before {
            cursor: default;
          }
        }
      }
      ul {
        &.slick-dots {
          bottom: 0;
          li {
            button {
              &:before {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
#booking-modal {
  &.modal {
    .modal-header {
      button {
        &:focus {
          outline: -webkit-focus-ring-color 0 auto;
        }
      }
    }
    .modal-body {
      .car-rental-booking {
        border-left: 0;
        .car-rental-booking-form {
          .d-flex {
            flex-wrap: wrap;
          }
          .custom-checkbox {
            min-width: 160px;
          }
          label {
            font-weight: 600;
            span {
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
.why-choose {
  padding-bottom: 60px;
  .header-section {
    padding-bottom: 20px;
  }
  .card {
    margin-bottom: 7px;
    box-shadow: none;
    transition: $transition;
    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      transition: $transition;
      cursor: pointer;
    }
    .card-body {
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
      }
      .card-title {
        border-bottom: 0!important;
      }
    }
  }
}
.popular-list {
  padding-top: 40px;
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom right, #DEF2F3, #EDF1F2);
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    
  }
  .section-header{
    padding-top: 0px!important;
    margin-bottom: 50px;
  }
  .popular-card {
    padding-left: 0;
    padding-right: 0;
    .card {
      margin-bottom: 0;
      border-radius: 0;
      img {
        @media screen and (min-width:768px){
          width: 380px;
          height: 250px;
        }
        
      }
      .rgba-black-slight {
        background-color: rgba(0, 0, 0, 0.42);
        color: $color-white;
      }
      .card-overlay-txt {
        position: absolute;
        bottom: 0;
        padding: 20px;
      }
    }
  }
}
.services-header{
  text-align: center;
  .sub-header {
    margin-bottom: 8px;
  }
  .header-underline  {
    color: #ca992b;
  }
  p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .play-fair-font {
    font-family: Aladin, cursive;
  }
  h3{
    margin-bottom: 1.5rem; 
    font-size:  1.75rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .upper{
    text-transform: uppercase !important;
  }
  .bold{
    font-weight: 600 !important;
  }
}
.tour_packages{
  background: $color-white;
}