.booking-pagination {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  nav {
    ul {
      &.pagination {
        .page-item {
          .page-link {
            overflow: initial;
            position: relative;
            text-align: center;
            width: 32px;
            height: 32px;
            &.prev {
              &:before {
                content: ' ';
                background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                transform: rotate(-180deg) translate3d(-10px,-10px,0);
              }
            }
            &.next {
              &:before {
                content: ' ';
                background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                transform: rotate(0) translate3d(10px,10px,0);
              }
            }
          }
          &.disabled {
            a {
              &:before {
                opacity: .3;
              }
            }
          }
        }
      }
    }
  }
}

.pagin-load-more {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
  i {
    margin-left: 8px;
  }
  &.dsk-view {
    display: block;
  }
}
