.package_tour_detail{
	background: $color-white;
	.tour_detail_des{
		margin-top: 30px;
		.duration{
			margin-top: 20px;
			i{
				color: $color-gold;
				padding-right: 5px;
			}
		}
		.price{
			color: $color-gold;  
			margin-top: 15px;
		}
		.desc{
			margin-top: 20px;
		}
		
	}
}
.tour-booking{
	background:$color-blue-2;
	
	h4{
		margin-bottom: 30px;
	}
	.form-group{
		.form-control{
			background: $color-blue-2;
		}
		
	}

	.arrival-date{
		input{
			background: url("../images/icons/calendar.svg") no-repeat right/10%;
			background-size: 50px 20px;
		}
	}
}
.detail-feture-slide{
	padding-top: 40px;
	.banner-slide-wrapper{
		.banner-slide{
			.slick-list{
				border-radius: 10px;
			}  
		}
	}
}
.tourdetail-bg{
	background: #f0f4f5;
	.arrival-date-detail{
		.calendar{
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 4px;
				width: 60px;
				right: 10px;
				background: url("../images/icons/calendar.svg") no-repeat right/30%;
				height: 32px;
			}
		}
	}
}
