$color-black: #252525;
$color-black-light:#181818;
$color-black-1: #bbbaba;
$color-black-2: #000000;
$color-black-3:#7A7A7A;
$color-grey: #929292;
$color-grey-1: #ececec;
$color-grey-2:#bbbaba;
$color-grey-3: #ced4da;
$color-white: #ffffff;
$color-yellow: #fff568;
$color-blue: #5569fe;
$color-blue-1: #5569fd;
$color-blue-2: #f0f4f5;
$color-blue-3: #00008b;
$color-green: #00c201;
$color-red: #ff0103;
$input-border-color: #ced4da;
$color-gold:#BA8B02;
$transition: all .15s ease-in-out;

// fonts-family
$fonts : (
  MM-Font: '../webfonts/Zawgyi-One.ttf',
  KIA-Font-M: '../webfonts/KIAM.ttf',
  KIA-Font-B: '../webfonts/KIAB.ttf'
);

@each $key in map-keys($fonts) {
  @font-face {
    font-family: $key;
    src: url(map-get($fonts, $key));
  }
}
