doctype
html(lang='en')
  include ./components/_head.pug
  body
    include ./components/_header.pug
    section.banner-section.pad-0
      .otherbanner-desk
        img.w-100(src='./assets/images/uploads/otherbanner2.jpg' alt='banner one')
      .otherbanner-mb
        img.w-100(src='./assets/images/uploads/otherbanner2-mb.jpg' alt='banner one')
      //--socical share icon
      include ./components/_floating-social.pug
    section.section-header.header-underline.text-center
      
      h3.bold Who We Are

    .about-section
      .container
        
        .row.staff-row
          .col-md-6
            h4.bold Our Stroy
            p.staff-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, nisi neque! Iusto, nostrum, quas voluptatibus esse quo fugit voluptates, quod dolore doloribus recusandae ea ipsa temporibus aspernatur iure necessitatibus harum.
            ul.include
              li Lorem ipsum dolor
              li Lorem ipsum dolor
              li Lorem ipsum dolor
          .col-md-6
            h4.bold.upper.opacity-0 Our Staff
            .img-shadow.waves-effect.waves-light
              img.img-fluid(src='./assets/images/uploads/staff-images.jpg' alt="")
        .row
          .col-md-6
            .our-vision
              img.img-fluid(src='./assets/images/icons/idea1.svg' alt='banner one')
              h4.bold Our Vision
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi velit commodi architecto consectetur quod totam laboriosam possimus sed eaque? Eius eligendi, dicta libero beatae ullam ut exercitationem facere aliquid.

          .col-md-6
            .our-mission
              img.img-fluid(src='./assets/images/icons/rocket1.svg' alt='banner one')
              h4.bold Our Mission
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, et! Voluptas corporis necessitatibus obcaecati molestias rem alias, recusandae architecto esse laborum unde earum maiores iste cupiditate quam veniam ullam veritatis?
    include ./components/_floating.pug
    include ./components/_footer.pug
  script(src="./assets/js/core.min.js")
