doctype
html(lang='en')
	include ./components/_head.pug
	body
		include ./components/_header.pug
		section.banner-section.pad-0
			.otherbanner-desk
				img.w-100(src='./assets/images/uploads/otherbanner2.jpg' alt='banner one')
			.otherbanner-mb
				img.w-100(src='./assets/images/uploads/otherbanner2-mb.jpg' alt='banner one')
			//--socical share icon
			include ./components/_floating-social.pug

		section.contact-wrap
			.container
				.row
					.col-md-4
						.contact-info
							h3.bold.section-header.header-underline Contact Information
							ul
								li
									i.fas.fa-map-marked-alt
									p Diamond Condo Tower A, Room 403, 4th Floor, Pyay Road, Kamaryut Township yangon, 11041
								li
									i.fas.fa-phone-alt
									a(href="tel:01-123-4567") 
										span 01-123-4567, 
									a(href="tel:01-123-4567") 
										span 01-123-4567
								li
									i.fas.fa-envelope
									a(href="mailto:01-123-4567") 
										span abc@gmail.com
						.share-with-us
							h5.bold Socially Connect
							.share-with-us-blog
								a(href="#").text-center
									i.fab.fa-facebook-f
								a(href="#").text-center 
									i.fab.fa-instagram
								a(href="#").text-center
									i.fab.fa-twitter
								a(href="#").text-center 
									i.fab.fa-viber
								
								
					.col-md-8
						.map-wrap
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.0750036298964!2d96.12912815072063!3d16.822634823216944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c195a72ebbce3f%3A0xedb26d5ff07c1132!2sInnovix+Solutions!5e0!3m2!1sen!2smm!4v1565758307927!5m2!1sen!2smm" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
				
				
		include ./components/_floating.pug
		include ./components/_footer.pug
	script(src="./assets/js/core.min.js")
