doctype
html(lang='en')
  include ./components/_head.pug
  body
    include ./components/_header.pug
    //- banner section
    section.banner-slide-section.pad-0
      .banner-slide-wrapper
        .banner-slide
          .slide-wrap
            .slide-item
              img.w-100(src='./assets/images/uploads/bagan-img.png' alt='banner one')
          .slide-wrap
            .slide-item
              img.w-100(src='./assets/images/uploads/bagan-img.png' alt='banner one')
      //--socical share icon
      include ./components/_floating-social.pug
                    
    //- Latest Tour Packages
    section.latest-tours
      .container
        .row
          .col-12
            .section-header.header-underline.text-center              
              h3.bold Latest Tour Packages
        .row.tour-card-wrapper
          .col-md-6.tour-card
            .card
              a(href='tour-packages-detail.html')
                .view.overlay
                  img.card-img-top.w-100(src='./assets/images/uploads/tour1.png' alt='banner one')
                  //- a(href='tour-packages-detail.html')
                  .mask.rgba-white-slight                
                .card-body
                  h4.bold Tour Package Name
                  .card-text
                    .duration
                      i.fas.fa-history
                      p 3 Days 2 Nights
                    .price 
                      h4 KS 200,000
                  .button-read.text-right 
                    //- a(href="#").upper 
                    p.upper.bold Read More
          .col-md-6.tour-card
            .card
              a(href='tour-packages-detail.html')
                .view.overlay
                  img.card-img-top.w-100(src='./assets/images/uploads/tour2.png' alt='banner one')
                  //- a(href='tour-packages-detail.html')
                  .mask.rgba-white-slight                
                .card-body
                  h4.bold Tour Package Name
                  .card-text
                    .duration
                      i.fas.fa-history
                      p 3 Days 2 Nights
                    .price 
                      h4 KS 200,000
                  .button-read.text-right 
                    //- a(href="#").upper 
                    p.upper.bold Read More    
          .col-md-6.tour-card
            .card
              a(href='tour-packages-detail.html')
                .view.overlay
                  img.card-img-top.w-100(src='./assets/images/uploads/tour3.png' alt='banner one')
                  //- a(href='tour-packages-detail.html')
                  .mask.rgba-white-slight                
                .card-body
                  h4.bold Tour Package Name
                  .card-text
                    .duration
                      i.fas.fa-history
                      p 3 Days 2 Nights
                    .price 
                      h4 KS 200,000
                  .button-read.text-right 
                    //- a(href="#").upper 
                    p.upper.bold Read More
          .col-md-6.tour-card
            .card
              a(href='tour-packages-detail.html')
                .view.overlay
                  img.card-img-top.w-100(src='./assets/images/uploads/tour4.png' alt='banner one')
                  //- a(href='tour-packages-detail.html')
                  .mask.rgba-white-slight                
                .card-body
                  h4.bold Tour Package Name
                  .card-text
                    .duration
                      i.fas.fa-history
                      p 3 Days 2 Nights
                    .price 
                      h4 KS 200,000
                  .button-read.text-right 
                    //- a(href="#").upper 
                    p.upper.bold Read More
          //- .col-12.pagin-load-more.dsk-view.text-center
          //-   button.btn.btn-primary.md-form.waves-effect.waves-light.latest-tour
          //-     | Load more
          //-     i.fas.fa-chevron-down
    
    //- Customise Tours
    section.holiday-package
      .container
        .row
          .col-md-6
            h3.bold.section-header.header-underline Customise Tours
            p Life is an adventure that needs to be lived to the utmost. Travel far and wide not to escape life but to live it in all its glory... Travel is more than sighteeing. it is a transformation that goes deep and permanent in your very ideas of life!
            .pagin-load-more.dsk-view
              a(href="about.html")
                button.btn.btn-primary.book-now
                  | Book Now
                
          .col-md-6
            .cus-tour(style="background-image: url('./assets/images/uploads/bg-layer.png');background-repeat: no-repeat;background-position: center;")            
              img.layerone(src="./assets/images/uploads/tour1.png", alt="") 
              div
                img.layertwo(src="./assets/images/uploads/tour2.png", alt="") 
              div
                img.layerthree(src="./assets/images/uploads/tour3.png", alt="") 
    //- include ./components/_booking-modal.pug
    //- Popular Destination
    section.popular-list
      .section-header.header-underline.text-center
        h3.bold Popular Destination
      .container
        .row 
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-1.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Yangon
                    
                      
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-2.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Mandalay
                      
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-3.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Pyin Oo Lwin
                      
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-4.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Kalaw
                      
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-5.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Bagan
                     
          .col-md-4.popular-card
            .card.no-card
              .view.overlay
                img.card-img-top(src='./assets/images/uploads/popular-6.png' alt='banner one')
                
                a(href='#!')
                  .mask.rgba-black-slight
                    .card-overlay-txt
                      h4.bold.card-title Kachin
                      
    
    include ./components/_floating.pug
    include ./components/_footer.pug
  script(src="./assets/js/core.min.js")
