doctype
html(lang='en')
	include ./components/_head.pug
	body
		include ./components/_header.pug
		section.banner-section.pad-0
			.otherbanner-desk
				img.w-100(src='./assets/images/uploads/otherbanner2.jpg' alt='banner one')
			.otherbanner-mb
				img.w-100(src='./assets/images/uploads/otherbanner2-mb.jpg' alt='banner one')
			//--socical share icon
			include ./components/_floating-social.pug
		section.section-header.header-underline.text-center
			h3.bold Tour Packages 
		.latest-tours.tour_packages
			.container
				
				.row.tour-card-wrapper
					.col-md-6.tour-card
						.card
							a(href='tour-packages-detail.html')
								.view.overlay
									img.card-img-top.w-100(src='./assets/images/uploads/tour1.png' alt='banner one')
									//- a(href='tour-packages-detail.html')
									.mask.rgba-white-slight                
								.card-body
									h4.bold Tour Package Name
									.card-text
										.duration
											i.fas.fa-history
											p 3 Days 2 Nights
										.price 
											h4 KS 200,000
									.button-read.text-right 
										//- a(href="#").upper 
										p.upper.bold Read More
					.col-md-6.tour-card
						.card
							a(href='tour-packages-detail.html')
								.view.overlay
									img.card-img-top.w-100(src='./assets/images/uploads/tour2.png' alt='banner one')
									//- a(href='tour-packages-detail.html')
									.mask.rgba-white-slight                
								.card-body
									h4.bold Tour Package Name
									.card-text
										.duration
											i.fas.fa-history
											p 3 Days 2 Nights
										.price 
											h4 KS 200,000
									.button-read.text-right 
										//- a(href="#").upper 
										p.upper.bold Read More    
					.col-md-6.tour-card
						.card
							a(href='tour-packages-detail.html')
								.view.overlay
									img.card-img-top.w-100(src='./assets/images/uploads/tour3.png' alt='banner one')
									//- a(href='tour-packages-detail.html')
									.mask.rgba-white-slight                
								.card-body
									h4.bold Tour Package Name
									.card-text
										.duration
											i.fas.fa-history
											p 3 Days 2 Nights
										.price 
											h4 KS 200,000
									.button-read.text-right 
										//- a(href="#").upper 
										p.upper.bold Read More
					.col-md-6.tour-card
						.card
							a(href='tour-packages-detail.html')
								.view.overlay
									img.card-img-top.w-100(src='./assets/images/uploads/tour4.png' alt='banner one')
									//- a(href='tour-packages-detail.html')
									.mask.rgba-white-slight                
								.card-body
									h4.bold Tour Package Name
									.card-text
										.duration
											i.fas.fa-history
											p 3 Days 2 Nights
										.price 
											h4 KS 200,000
									.button-read.text-right 
										//- a(href="#").upper 
										p.upper.bold Read More
					//- .col-12.pagin-load-more.dsk-view.text-center
					//-   button.btn.btn-primary.md-form.waves-effect.waves-light.latest-tour
					//-     | Load more
					//-     i.fas.fa-chevron-down
		
				
				
		include ./components/_floating.pug
		include ./components/_footer.pug
	script(src="./assets/js/core.min.js")
