doctype
html(lang='en')
	include ./components/_head.pug
	body
		include ./components/_header.pug
		section.banner-section.pad-0
			.otherbanner-desk
				img.w-100(src='./assets/images/uploads/otherbanner2.jpg' alt='banner one')
			.otherbanner-mb
				img.w-100(src='./assets/images/uploads/otherbanner2-mb.jpg' alt='banner one')
			//--socical share icon
			include ./components/_floating-social.pug	
		section.container.banner-slide-section.detail-feture-slide
			.banner-slide-wrapper
				.banner-slide
					.slide-wrap
						.slide-item
							img.w-100(src='./assets/images/uploads/detail-img-1.jpg' alt='banner one')
					.slide-wrap
						.slide-item
							img.w-100(src='./assets/images/uploads/detail-img-2.jpg' alt='banner one')
			.package_tour_detail.pt-0
					
				.tour_detail_des 
					h4.bold Tour Package Name   
					.duration 
						i.fas.fa-history
						span 3 Days 2 Nights 
					h4.price.bold KS 200,000
					.desc 
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
								 
				
		section.cutomised-section.pt-0.tourdetail-bg
			.container
				h4.pb-3.bold Tour Booking
				form
					.row.staff-row
						.col-md-7
							.form-group
								label Name
								input.form-control(type='text')
								
							.form-group
								label Email
								input.form-control(type='email')
							
							.form-group
								label Country
								input.form-control(type='text')

							.form-group
								label Phone Number
								input.form-control(type='text')

							.form-group.arrival-date-detail
								label Expected Arrival Date
								.calendar
									input.form-control#datepicker(type='text' autocomplete="off" placeholder="MM / DD / YY")

							.form-group
								label Number of Persons 
								input.form-control(type='number')

							.form-group.socical-icn
								label Including Meals
								input(type="radio" name="gender" value="male" checked)
								| Yes
								input(type="radio" name="gender" value="male")
								| No

							.form-group.socical-icn
								label Vegetarian
								input(type="radio" name="food" value="male" checked)
								| Yes
								input(type="radio" name="food" value="male")
								| No
							
							.form-group
								label Special Requirement 
								textarea.form-control(rows='2')
							
							
							.form-group
								.laguage-guide
									label Social Media
									.check-btn
										.form-check
											input#socialCheck1.form-check-input(type='checkbox')
											label.form-check-label(for='socialCheck1') Facebook
										.form-check
											input#socialCheck2.form-check-input(type='checkbox')
											label.form-check-label(for='socialCheck2') Instagram
										.form-check
											input#socialCheck3.form-check-input(type='checkbox')
											label.form-check-label(for='socialCheck3') Twitter
										.form-check
											input#socialCheck4.form-check-input(type='checkbox')
											label.form-check-label(for='socialCheck4') Viber
							
						.col-md-5.second-col
							
							.form-group
								label Need & Peference
								textarea.form-control(rows='2')
							.form-group
								label Estimate Budget
								input.form-control(type='text') 
							
							.form-group.socical-icn
								label Including Entrance Fees 
								input(type="radio" name="travel" value="male" checked)
								| Yes
								input(type="radio" name="travel" value="male")
								| No

							.form-group
								label Destination
								textarea.form-control(rows='2')
							
							.form-group
								label Message
								textarea.form-control(rows='3')

							.form-group
								.laguage-guide
									label Language Guide
									
									.form-check
										input#laguageCheck1.form-check-input(type='checkbox')
										label.form-check-label(for='laguageCheck1') English
									.form-check
										input#exampleCheck2.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck2') Chinese
									.form-check
										input#exampleCheck3.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck3') Frech
									.form-check
										input#exampleCheck4.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck4') German
									
									.form-check
										input#exampleCheck5.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck5') Italian
									.form-check
										input#exampleCheck6.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck6') Japanese
									.form-check
										input#exampleCheck7.form-check-input(type='checkbox')
										label.form-check-label(for='exampleCheck7') Spanish
							
						.col-md-12 
							.booking-formbtn.text-center
								button.btn.btn-primary.md-form.waves-effect.waves-light.text-center(type="submit")
									| Book Now
				
		include ./components/_floating.pug
		include ./components/_footer.pug
	script(src="./assets/js/core.min.js")
