@font-face {
  font-family: MM-Font;
  src: url("../webfonts/Zawgyi-One.ttf");
}

@font-face {
  font-family: KIA-Font-M;
  src: url("../webfonts/KIAM.ttf");
}

@font-face {
  font-family: KIA-Font-B;
  src: url("../webfonts/KIAB.ttf");
}

/* common css */

/* ----- */

/* modal box */
