@font-face {
  font-family: MM-Font;
  src: url("../webfonts/Zawgyi-One.ttf");
}

@font-face {
  font-family: KIA-Font-M;
  src: url("../webfonts/KIAM.ttf");
}

@font-face {
  font-family: KIA-Font-B;
  src: url("../webfonts/KIAB.ttf");
}

.card:not(.no-card) {
  margin-bottom: 25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.card:not(.no-card):hover {
  transition: all .3s ease-in-out;
  transform: translateY(-5px);
}
.card:not(.no-card):hover img {
  filter: sepia(100%);
  transition: all .3s ease-in-out;
}
.card:not(.no-card) .view {
  position: relative;
  transition: all .3s ease-in-out;
}
.card:not(.no-card) .view img {
  transition: all .3s ease-in-out;
}
.card:not(.no-card) .view .amount-day {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}
.card:not(.no-card) .view .amount-day i {
  margin-right: 10px;
}
.card:not(.no-card) .card-body {
  position: relative;
}
.card:not(.no-card) .card-body .card-title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.card:not(.no-card) .card-body .card-text {
  height: 80px;
  margin-top: 1.5rem;
}
.card:not(.no-card) .card-body a.black-text {
  display: inline-block;
  color: #5569fe !important;
  outline: -webkit-focus-ring-color auto 0;
}
.card:not(.no-card) .card-body a.black-text:hover {
  color: rgba(85, 105, 254, .72) !important;
}
.card:not(.no-card) .card-body a.black-text h5 {
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .card:not(.no-card) .card-body a.black-text h5 {
    font-size: 18px;
  }
}
.card:not(.no-card) .card-body a.black-text h5 i {
  margin-left: 5px;
}
.card:not(.no-card) .card-body a.btn-warning {
  padding: .6rem 1.14rem;
}
@media screen and (min-width: 1200px) {
  .card:not(.no-card) .card-body a.btn-warning {
    padding: .84rem 2.14rem;
  }
}
.card:not(.no-card) .card-body .booking-now {
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner-section {
  position: relative;
}
.banner-section .float-contact-us {
  position: absolute;
  bottom: 0;
  left: calc(100% - 73px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.banner-section .float-contact-us .contact-us {
  position: relative;
  margin-right: 10px;
}
.banner-section .float-contact-us .contact-us .btn.btn-warning {
  margin: 0;
  transition: all .3s ease-in-out;
}
.banner-section .float-contact-us .contact-us .btn.btn-warning:active,
.banner-section .float-contact-us .contact-us .btn.btn-warning:focus,
.banner-section .float-contact-us .contact-us .btn.btn-warning:hover {
  background: #eca921 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  transition: all .3s ease-in-out;
}
.banner-section .float-contact-us .contact-us .social {
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.banner-section .float-contact-us .contact-us .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition: all .3s ease-in-out;
}
.banner-section .float-contact-us .contact-us .social a.twitter {
  background: #00acee;
}
.banner-section .float-contact-us .contact-us .social a.viber {
  background: #665cac;
}
.banner-section .float-contact-us .contact-us .social a.instagram {
  background: #3f729b;
}
.banner-section .float-contact-us .contact-us .social a.facebook {
  background: #3b5998;
}
.banner-section .float-contact-us .contact-us .social a:last-child {
  margin-right: 0;
}
.banner-section .float-contact-us .contact-us .social a i {
  transform: rotate(90deg);
}
.banner-section .float-contact-us .contact-us .social a i.fab {
  font-size: 30px;
  color: #fff;
}
.banner-section .float-contact-us .social-icns {
  position: absolute;
  left: -9px;
  transform: translate(16%, 60%);
}
.banner-section .float-contact-us .social-icns #shareBlock a {
  display: inline-block;
  margin: 6px 3px !important;
  text-decoration: none;
  transition: all .2s ease 0s;
  transform: translateY(18px) !important;
}
.banner-section .float-contact-us .social-icns #shareBlock a:hover {
  transform: translateY(17px) !important;
}
.banner-section .breadcrumb-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .6);
}
.banner-section .breadcrumb-section nav.breadcrumb-nav ol.breadcrumb {
  margin-bottom: 0;
  background: none;
}
.banner-section .breadcrumb-section nav.breadcrumb-nav ol.breadcrumb li.breadcrumb-item a {
  color: #fff;
}
.banner-section .breadcrumb-section nav.breadcrumb-nav ol.breadcrumb li.breadcrumb-item span {
  color: #fff568;
}

header .top-nav {
  background: #252525;
}
@media screen and (max-width: 767px) {
  header .top-nav .col-md-12 {
    padding-right: 0;
    padding-left: 0;
  }
}
header .top-nav .top-navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .top-nav .top-navbar .navbar-phone-no {
  display: flex;
}
header .top-nav .top-navbar .language-switch {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
header .top-nav .top-navbar .language-switch a {
  margin: 0;
}
header .top-nav .top-navbar .language-switch a .en,
header .top-nav .top-navbar .language-switch a .jp {
  width: 24px;
  padding: 2px;
}
header .top-nav .top-navbar .language-switch a .jp {
  width: 27px;
}
header .top-nav .top-navbar a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 30px;
  color: #fff;
}
header .top-nav .top-navbar a.top-nav-phone img,
header .top-nav .top-navbar a.top-nav-email img,
header .top-nav .top-navbar a.top-nav-fb img,
header .top-nav .top-navbar a.top-nav-inst img {
  width: 20px;
}
header .top-nav .top-navbar a.top-nav-phone span,
header .top-nav .top-navbar a.top-nav-email span,
header .top-nav .top-navbar a.top-nav-fb span,
header .top-nav .top-navbar a.top-nav-inst span {
  padding-left: 10px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  header .top-nav .top-navbar a.top-nav-phone,
  header .top-nav .top-navbar a.top-nav-email,
  header .top-nav .top-navbar a.top-nav-fb,
  header .top-nav .top-navbar a.top-nav-inst {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header .top-nav .top-navbar a {
    display: flex;
    align-items: center;
  }
}
header .top-nav .top-navbar a i {
  margin-right: 10px;
  font-size: 16px;
}
header .top-nav .top-navbar select {
  color: #000;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: -webkit-focus-ring-color auto 0;
  box-shadow: none;
}
header .top-nav .top-navbar .line {
  display: none;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #00c201;
}
@media screen and (min-width: 768px) {
  header .top-nav .top-navbar .line {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
}

header nav {
  z-index: 1;
}
header nav.navbar-expand-lg.navbar-light {
  min-height: 50px;
  background: #fff;
}
@media screen and (max-width: 575px) {
  header nav.navbar-expand-lg.navbar-light .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  header nav .dsk-navbar {
    display: flex;
    justify-content: flex-end;
  }
}
header nav .logo-section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 992px) {
  header nav .logo-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
header nav .logo-section a.navbar-brand img {
  max-width: 60px;
}
header nav .logo-section a.navbar-brand img.logo-img {
  width: 150px;
}
header nav .logo-section .logo-test {
  display: none;
}
@media screen and (min-width: 576px) {
  header nav .logo-section .logo-test {
    display: block;
    padding-top: 10px;
  }
  header nav .logo-section .logo-test h3,
  header nav .logo-section .logo-test p {
    margin: 0;
    color: #252525;
  }
}
header nav div.navbar-nav {
  margin-bottom: 20px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav {
    margin-bottom: 0;
  }
}
header nav div.navbar-nav div.nav-item {
  position: relative;
  margin-right: 35px;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item {
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item.logo {
    width: 155px;
  }
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item.logo a {
    position: absolute;
    top: -14px;
    left: 20px;
    display: block;
    width: 120px;
    height: 70px;
    background: #d1a31c;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
header nav div.navbar-nav div.nav-item.drp-nav-item .dropdown-menu a {
  color: #000 !important;
}
header nav div.navbar-nav div.nav-item .dropdown-menu {
  position: relative !important;
  padding: .3rem;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item .dropdown-menu {
    position: absolute !important;
  }
}
header nav div.navbar-nav div.nav-item .dropdown-menu .dropdown-item {
  padding-left: 10px !important;
}
header nav div.navbar-nav div.nav-item .dropdown-menu .dropdown-item.waves-effect.waves-light {
  display: block;
}
header nav div.navbar-nav div.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f5f5f5;
}
header nav div.navbar-nav div.nav-item .dropdown-menu .dropdown-item:active {
  background-color: #f5f5f5;
}
header nav div.navbar-nav div.nav-item .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
header nav div.navbar-nav div.nav-item a {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
header nav div.navbar-nav div.nav-item a.nav-link {
  padding-top: 20px;
  color: #252525;
  text-align: center;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item a.nav-link {
    padding-top: 0;
    font-size: 13px;
    text-align: left;
  }
}
header nav div.navbar-nav div.nav-item a.nav-link:hover {
  color: #ba8b02 !important;
}
header nav div.navbar-nav div.nav-item.active a {
  padding-right: 0;
  padding-left: 0;
  overflow: initial;
  color: #5569fd;
}
header nav div.navbar-nav div.nav-item.active a.nav-link {
  background: none !important;
}
header nav div.navbar-nav div.nav-item.active a::after {
  position: absolute;
  bottom: -5px;
  left: 45%;
  display: block;
  width: 10%;
  height: 3px;
  content: " ";
  background: linear-gradient(105deg, rgba(5, 5, 5, .8) 0%, #d2a40e 79%) 0% 0% no-repeat;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-item.active a::after {
    left: 0;
    width: 100%;
  }
}
header nav div.navbar-nav div a {
  color: #252525;
}
header nav div.navbar-nav div.nav-search {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  header nav div.navbar-nav div.nav-search {
    padding-left: 35px;
  }
}
header nav div.navbar-nav div.nav-search form input {
  outline: none;
}
header nav div.navbar-nav div.nav-search form input[type="search"] {
  -webkit-box-sizing: content-box;
  width: 70px;
  padding: 7px 10px 7px 30px;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  background: url("https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png") no-repeat 9px center;
  border: 1px solid #ccc;
  border-radius: 10em;
  transition: all .15s ease-in-out;
  -webkit-appearance: textfield;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-search form input[type="search"] {
    position: absolute;
    right: 0;
    width: 0;
  }
}
header nav div.navbar-nav div.nav-search form input[type="search"]:focus {
  width: 160px;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  header nav div.navbar-nav div.nav-search form input[type="search"]:focus {
    width: 600px;
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 400;
  background-color: #252525;
}
footer .address,
footer .ph-number,
footer .email {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
footer .ph-number h3 {
  color: #fff;
}
footer .ph-number .contact-phone p,
footer .ph-number .contact-mail p,
footer .ph-number .contact-address p {
  position: relative;
  min-width: 80px;
  margin-bottom: .3rem;
  color: #fff;
}
footer .ph-number .contact-phone p::after,
footer .ph-number .contact-mail p::after,
footer .ph-number .contact-address p::after {
  position: absolute;
  top: 0;
  right: 10px;
  content: ":";
}
footer .ph-number .contact-phone a,
footer .ph-number .contact-mail a,
footer .ph-number .contact-address a {
  color: #7a7a7a;
}
footer .ph-number .contact-address .address-txt {
  color: #7a7a7a;
}
footer .address h3 {
  color: #fff;
}
footer .address ul {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
footer .address ul li {
  margin-bottom: 5px;
}
footer .address ul li a {
  color: #7a7a7a;
}
footer .address ul li a:hover {
  color: #fff;
}
footer .email .footer-logo {
  display: flex;
}
footer .email .footer-logo h3 {
  color: #fff;
}
footer .email .footer-logo img {
  width: 60px;
  height: 60px;
}
footer .email .footer-logo .logo-text {
  padding-left: 10px;
}
footer .email .footer-logo .logo-text p,
footer .email .footer-logo .logo-text a {
  color: #7a7a7a;
}
footer .email .share-with-us-blog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}
footer .email .share-with-us-blog i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  padding-top: 0;
  margin-right: 15px;
  font-size: 20px;
  color: #fff;
  background: #51baed;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transition: all 1s ease-in-out;
}
footer .email .share-with-us-blog i:hover {
  transition: all 1s ease-in-out;
  transform: rotateZ(360deg);
}
footer .email .share-with-us-blog .fa-facebook-f {
  background: #3e8bc4;
}
footer .email .share-with-us-blog .fa-viber {
  background: #665cac;
}
footer .email .share-with-us-blog .fa-instagram {
  background: linear-gradient(to bottom left, #feda77, #ea2739);
}
footer img {
  width: 150px;
}
footer .icon {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #5569fe;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
@media screen and (min-width: 768px) {
  footer .icon {
    width: 100px;
    height: 100px;
  }
}
footer .icon .d-inline-block {
  display: inline-block;
}
footer p a {
  color: #252525;
}
footer p a:hover {
  color: #252525;
}
footer p a .fa-facebook-square {
  font-size: 30px;
}
footer p a .fa-instagram {
  font-size: 30px;
}

nav.copy-right {
  background-color: #252525;
}
nav.copy-right p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #fff;
}
nav.copy-right p a {
  margin-left: 7px;
  color: #9a9b9c;
}
nav.copy-right p a:hover {
  color: #fff;
}

.booking-pagination {
  display: none;
}
@media screen and (min-width: 768px) {
  .booking-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.booking-pagination nav ul.pagination .page-item .page-link {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: initial;
  text-align: center;
}
.booking-pagination nav ul.pagination .page-item .page-link.prev::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: " ";
  background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
  transform: rotate(-180deg) translate3d(-10px, -10px, 0);
}
.booking-pagination nav ul.pagination .page-item .page-link.next::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: " ";
  background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
  transform: rotate(0) translate3d(10px, 10px, 0);
}
.booking-pagination nav ul.pagination .page-item.disabled a::before {
  opacity: .3;
}

.pagin-load-more {
  display: block;
}
@media screen and (min-width: 768px) {
  .pagin-load-more {
    display: none;
  }
}
.pagin-load-more i {
  margin-left: 8px;
}
.pagin-load-more.dsk-view {
  display: block;
}

.messenger-popup-section {
  position: fixed;
  right: 3px;
  bottom: 5em;
  z-index: 9999;
}
@media screen and (min-width: 875px) {
  .messenger-popup-section {
    right: 3em;
  }
}
@media screen and (min-width: 1500px) {
  .messenger-popup-section {
    right: 15em;
  }
}
.messenger-popup-section .messenger-popup a i {
  width: 45px;
  height: 45px;
  padding-top: 0;
  padding-left: 0;
  overflow: initial;
  font-size: 48px;
  color: #2095f3;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
.messenger-popup-section .messenger-popup a i:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.btn-floating-icon {
  position: relative;
  z-index: 99999;
  width: 47px;
  height: 47px;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transition: all .15s ease-in-out;
}
.btn-floating-icon:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.btn-floating-icon i {
  display: inline-block;
  width: inherit;
  font-size: 1.25rem;
  line-height: 47px;
  color: #fff;
  text-align: center;
}

.return-to-top-section .return-to-top {
  position: fixed;
  right: 10%;
  bottom: 20px;
  z-index: 99999;
  display: block;
  display: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  background: rgba(55, 55, 55, .7);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  transition: all .3s ease;
}
.return-to-top-section .return-to-top:hover i {
  position: relative;
  top: 5px;
  transition: all .3s ease;
}
.return-to-top-section .return-to-top i {
  position: relative;
  top: 13px;
  left: 16px;
  margin: 0;
  font-size: 19px;
  color: #fff;
  transition: all .3s ease;
}
.return-to-top-section .return-to-top:hover {
  background: rgba(55, 55, 55, .9);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.bold {
  font-weight: 600 !important;
}

/* common css */
.star {
  margin-left: 2px;
  color: #ff0103;
}

.card-active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.upper {
  text-transform: uppercase !important;
}

.m-width {
  min-width: 100% !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.header-section {
  padding-bottom: 20px;
}

.opacity-0 {
  opacity: 0;
}

.img-shadow {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.margin-auto {
  margin: auto;
}

.no-background {
  background: 0 !important;
}

section:not(.section-header) {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
@media screen and (min-width: 768px) {
  section:not(.section-header) {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
@media screen and (min-width: 992px) {
  section:not(.section-header) {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
@media screen and (min-width: 1200px) {
  section:not(.section-header) {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}
section:not(.section-header).pad-0 {
  padding: 0 !important;
}
section:not(.section-header) ul {
  list-style-type: none;
  padding-inline-start: 0;
}
section:not(.section-header) ul.include li:not(.upper)::before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f058";
}
section:not(.section-header) ul.not-include li:not(.upper)::before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f057";
}
section:not(.section-header) ul li:not(.upper):not(.nav-item) {
  margin-bottom: 8px;
}
section:not(.section-header) ul li:not(.upper):not(.nav-item)::before {
  margin-right: 5px;
  font-size: 14px;
  color: #cea24a;
}
section:not(.section-header) ul li.upper {
  margin-bottom: 10px;
}
section:not(.section-header) .horizontal-rule {
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
section:not(.section-header) .horizontal-rule:last-child::after {
  display: none;
}
section:not(.section-header) .horizontal-rule::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: rgba(0, 0, 0, .13);
}
@media screen and (min-width: 992px) {
  section:not(.section-header) .horizontal-rule::after {
    left: 55px;
    width: 90%;
  }
}
section:not(.section-header) .horizontal-rule ul {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .facilities-service {
    display: flex;
    justify-content: space-between;
  }
}

/* ----- */

/* modal box */
@media screen and (max-width: 400px) {
  .modal-footer {
    justify-content: flex-start;
  }
  .modal-footer button.btn {
    padding: .84rem 30px;
  }
}

.section-header:not(.remove-pad-top) {
  padding-top: 25px !important;
  padding-bottom: 20px !important;
  font-family: "Oleo Script", cursive;
}
@media screen and (min-width: 768px) {
  .section-header:not(.remove-pad-top) {
    padding-top: 30px !important;
  }
}
@media screen and (min-width: 992px) {
  .section-header:not(.remove-pad-top) {
    padding-top: 40px !important;
  }
}
@media screen and (min-width: 1200px) {
  .section-header:not(.remove-pad-top) {
    padding-top: 40px !important;
  }
}
.section-header:not(.remove-pad-top) h4 {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .section-header:not(.remove-pad-top) h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section-header:not(.remove-pad-top) h4 {
    font-size: 24px;
  }
}
.section-header:not(.remove-pad-top) h4.bold {
  color: #ca992b;
}
.section-header:not(.remove-pad-top) h3 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .section-header:not(.remove-pad-top) h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .section-header:not(.remove-pad-top) h3 {
    font-size: 1.75rem;
  }
}
.section-header:not(.remove-pad-top) h3.header-color {
  color: #ca992b;
}
.section-header:not(.remove-pad-top) .sub-header {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ca992b;
}
@media screen and (min-width: 768px) {
  .section-header:not(.remove-pad-top) .sub-header {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .section-header:not(.remove-pad-top) .sub-header {
    font-size: 18px;
  }
}

.header-underline {
  position: relative;
}
.header-underline::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 5px;
  margin: 0 auto;
  content: "";
  background: linear-gradient(105deg, #5d4601 0, #ba8b02 79%) 0 0 no-repeat;
  border-radius: 16px;
}
.header-underline p {
  color: #ca992b;
}

.banner-slide-section {
  position: relative;
}
.banner-slide-section .float-contact-us {
  position: absolute;
  bottom: 0;
  left: calc(100% - 73px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.banner-slide-section .float-contact-us .contact-us {
  position: relative;
  margin-right: 10px;
}
.banner-slide-section .float-contact-us .contact-us .btn.btn-warning {
  margin: 0;
  transition: all .3s ease-in-out;
}
.banner-slide-section .float-contact-us .contact-us .btn.btn-warning:active,
.banner-slide-section .float-contact-us .contact-us .btn.btn-warning:focus,
.banner-slide-section .float-contact-us .contact-us .btn.btn-warning:hover {
  background: #eca921 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  transition: all .3s ease-in-out;
}
.banner-slide-section .float-contact-us .contact-us .social {
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.banner-slide-section .float-contact-us .contact-us .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition: all .3s ease-in-out;
}
.banner-slide-section .float-contact-us .contact-us .social a:hover {
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .42);
  transition: all .3s ease-in-out;
}
.banner-slide-section .float-contact-us .contact-us .social a.twitter {
  background: #00acee;
}
.banner-slide-section .float-contact-us .contact-us .social a.viber {
  background: #665cac;
}
.banner-slide-section .float-contact-us .contact-us .social a.instagram {
  background: #3f729b;
}
.banner-slide-section .float-contact-us .contact-us .social a.facebook {
  background: #3b5998;
}
.banner-slide-section .float-contact-us .contact-us .social a:last-child {
  margin-right: 0;
}
.banner-slide-section .float-contact-us .contact-us .social a i {
  transform: rotate(90deg);
}
.banner-slide-section .float-contact-us .contact-us .social a i.fab {
  font-size: 30px;
  color: #fff;
}
.banner-slide-section .float-contact-us .social-icns {
  position: absolute;
  left: -9px;
  transform: translate(16%, 60%);
}
.banner-slide-section .float-contact-us .social-icns #shareBlock a {
  display: inline-block;
  margin: 6px 3px !important;
  text-decoration: none;
  transition: all .2s ease 0s;
  transform: translateY(17px) !important;
}
.banner-slide-section .float-contact-us .social-icns #shareBlock a:hover {
  transform: translateY(17px) !important;
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item img {
  width: 100%;
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content {
  position: absolute;
  color: #fff;
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
    font-size: 64px;
  }
}
@media screen and (min-width: 1366px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 {
    font-size: 72px;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h1 span {
  font-weight: 500;
  color: #fff568;
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h2 {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1366px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content h2 {
    font-size: 60px;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content button.btn.btn-warning,
.banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content a.btn.btn-warning {
  padding: .6rem 1.14rem;
}
@media screen and (min-width: 1200px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content button.btn.btn-warning,
  .banner-slide-section .banner-slide-wrapper .banner-slide .slide-wrap .slide-item .slide-content a.btn.btn-warning {
    padding: .84rem 2.14rem;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slick-prev {
  left: 3px;
  z-index: 999;
  background: transparent;
  transition: all .15s ease-in-out;
}
@media screen and (min-width: 1500px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slick-prev {
    left: 7%;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slick-prev::before {
  display: inline-block;
  width: 30px;
  height: 40px;
  font-size: 30px;
  content: " ";
  background: url("../images/icons/arrow-right-white.svg") no-repeat center/100%;
  transition: all .15s ease-in-out;
  transform: rotate(-180deg) translate3d(-30px, 0, 0);
}
@media screen and (max-width: 577px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slick-prev::before {
    font-size: 20px;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slick-next {
  right: 10px;
  z-index: 999;
  background: transparent;
  transition: all .15s ease-in-out;
}
@media screen and (min-width: 1500px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slick-next {
    right: 6%;
  }
}
.banner-slide-section .banner-slide-wrapper .banner-slide .slick-next::before {
  display: inline-block;
  width: 30px;
  height: 40px;
  font-size: 30px;
  content: " ";
  background: url("../images/icons/arrow-right-white.svg") no-repeat center/100%;
  transition: all .15s ease-in-out;
  transform: rotate(0deg) translate3d(-40px, 0, 0);
}
@media screen and (max-width: 577px) {
  .banner-slide-section .banner-slide-wrapper .banner-slide .slick-next::before {
    font-size: 20px;
  }
}

.holiday-package {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .holiday-package {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;
  }
}
.holiday-package .header-underline {
  margin-bottom: 30px;
}
.holiday-package .header-underline::after {
  margin: 0;
}
.holiday-package .book-now {
  background: linear-gradient(105deg, #5d4601 0, #ba8b02 79%) 0 0 no-repeat;
  border-radius: 10px;
}
.holiday-package .cus-tour {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .holiday-package .cus-tour {
    margin-top: 0;
  }
}
.holiday-package .cus-tour .layerone {
  position: relative;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.holiday-package .cus-tour .layertwo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 10px;
}
.holiday-package .cus-tour .layerthree {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 42%;
  border-radius: 10px;
}

.latest-tours {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f0f4f5;
}
@media screen and (min-width: 768px) {
  .latest-tours {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.latest-tours .section-header {
  padding-top: 0 !important;
  margin-bottom: 40px;
}
.latest-tours select .disabled:disabled,
.latest-tours select option:disabled {
  font-size: 1px;
  color: #fff;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-title {
  border-bottom: 0;
}
.latest-tours .tour-card-wrapper .tour-card .card-body h4 {
  color: #252525;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-text {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-text .duration {
  display: flex;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-text .duration i {
  padding-top: 3px;
  padding-right: 10px;
  color: #ba8b02;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-text .duration p {
  font-weight: 600;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .card-text .price h4 {
  font-weight: 600;
  color: #ba8b02;
}
.latest-tours .tour-card-wrapper .tour-card .card-body .button-read p {
  font-weight: 600;
  color: #181818;
}
.latest-tours .tour-card-wrapper .pagin-load-more .latest-tour {
  background: linear-gradient(105deg, #5d4601 0, #ba8b02 79%) 0 0 no-repeat;
  border-radius: 10px;
}
.latest-tours .latest-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: .3rem;
}
@media screen and (max-width: 767px) {
  .latest-tours .latest-search {
    padding-top: 20px;
  }
}
.latest-tours .latest-search button.md-form {
  margin-bottom: 20px;
}
.latest-tours .latest-search button span {
  margin-left: 4px;
}
.latest-tours .latest-search .latest-col {
  padding-right: 0;
  padding-left: 0;
}
.latest-tours .latest-search .md-form.select-box {
  box-shadow: -2px 3px 10px rgba(32, 40, 52, .2);
}
@media screen and (max-width: 767px) {
  .latest-tours .latest-search .md-form.select-box {
    margin-top: 0;
  }
}
.latest-tours .latest-search .md-form.select-box.input-group {
  box-shadow: 4px 3px 10px rgba(32, 40, 52, .2);
}
.latest-tours .latest-search .md-form.select-box.input-group .input-group-text {
  border-radius: 0;
}
.latest-tours .latest-search .md-form.select-box select {
  height: 45px;
}
.latest-tours .latest-search .md-form .cu-padding {
  padding: .6rem 1rem .6rem !important;
}
.latest-tours .latest-search .md-form label i {
  position: absolute;
  top: 3px;
  left: 30px;
}
.latest-tours .latest-search .md-form select {
  border-radius: 0;
}
.latest-tours .latest-search .md-form select.cu-padding {
  padding: .6rem 3rem .6rem !important;
}
.latest-tours .latest-search .md-form select:focus {
  border-color: #ced4da;
}
.latest-tours .latest-search .md-form input {
  border: 1px solid #ced4da;
}
.latest-tours .latest-search .md-form input:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}
.latest-tours .slide-card-wrapper .slide-card {
  margin-bottom: 0;
}
.latest-tours .slide-card-wrapper .slide-card .slide-block {
  padding: 20px;
}
.latest-tours .slide-card-wrapper .slide-card .slick-prev {
  left: 0;
  z-index: 999;
  background: transparent;
  transition: all .15s ease-in-out;
}
.latest-tours .slide-card-wrapper .slide-card .slick-prev::before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 40px;
  font-size: 30px;
  content: " ";
  background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
  transition: all .15s ease-in-out;
  transform: rotate(-180deg) translate3d(-30px, 0, 0);
}
@media screen and (max-width: 577px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-prev::before {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-prev::before {
    left: -1.22em;
  }
}
@media screen and (min-width: 1200px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-prev::before {
    left: -1.6em;
  }
}
@media screen and (min-width: 1366px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-prev::before {
    left: -2em;
  }
}
.latest-tours .slide-card-wrapper .slide-card .slick-prev.slick-disabled::before {
  cursor: default;
}
.latest-tours .slide-card-wrapper .slide-card .slick-next {
  right: 0;
  z-index: 999;
  background: transparent;
  transition: all .15s ease-in-out;
}
.latest-tours .slide-card-wrapper .slide-card .slick-next::before {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 40px;
  font-size: 30px;
  content: " ";
  background: url("../images/icons/arrow-right-black.svg") no-repeat center/100%;
  transition: all .15s ease-in-out;
  transform: rotate(0deg) translate3d(-60px, 0, 0);
}
@media screen and (max-width: 577px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-next::before {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-next::before {
    right: -2.3em;
  }
}
@media screen and (min-width: 1200px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-next::before {
    right: -2.5em;
  }
}
@media screen and (min-width: 1366px) {
  .latest-tours .slide-card-wrapper .slide-card .slick-next::before {
    right: -3em;
  }
}
.latest-tours .slide-card-wrapper .slide-card .slick-next.slick-disabled::before {
  cursor: default;
}
.latest-tours .slide-card-wrapper .slide-card ul.slick-dots {
  bottom: 0;
}
.latest-tours .slide-card-wrapper .slide-card ul.slick-dots li button::before {
  font-size: 30px;
}

#booking-modal.modal .modal-header button:focus {
  outline: -webkit-focus-ring-color 0 auto;
}

#booking-modal.modal .modal-body .car-rental-booking {
  border-left: 0;
}
#booking-modal.modal .modal-body .car-rental-booking .car-rental-booking-form .d-flex {
  flex-wrap: wrap;
}
#booking-modal.modal .modal-body .car-rental-booking .car-rental-booking-form .custom-checkbox {
  min-width: 160px;
}
#booking-modal.modal .modal-body .car-rental-booking .car-rental-booking-form label {
  font-weight: 600;
}
#booking-modal.modal .modal-body .car-rental-booking .car-rental-booking-form label span {
  font-weight: 300;
}

.why-choose {
  padding-bottom: 60px;
}
.why-choose .header-section {
  padding-bottom: 20px;
}
.why-choose .card {
  margin-bottom: 7px;
  box-shadow: none;
  transition: all .15s ease-in-out;
}
.why-choose .card:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition: all .15s ease-in-out;
}
.why-choose .card .card-body img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.why-choose .card .card-body .card-title {
  border-bottom: 0 !important;
}

.popular-list {
  padding-top: 40px;
  padding-bottom: 0;
  background-image: linear-gradient(to bottom right, #def2f3, #edf1f2);
}
@media screen and (min-width: 768px) {
  .popular-list {
    padding-top: 60px;
  }
}
.popular-list .section-header {
  padding-top: 0 !important;
  margin-bottom: 50px;
}
.popular-list .popular-card {
  padding-right: 0;
  padding-left: 0;
}
.popular-list .popular-card .card {
  margin-bottom: 0;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .popular-list .popular-card .card img {
    width: 380px;
    height: 250px;
  }
}
.popular-list .popular-card .card .rgba-black-slight {
  color: #fff;
  background-color: rgba(0, 0, 0, .42);
}
.popular-list .popular-card .card .card-overlay-txt {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.services-header {
  text-align: center;
}
.services-header .sub-header {
  margin-bottom: 8px;
}
.services-header .header-underline {
  color: #ca992b;
}
.services-header p {
  display: block;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.services-header .play-fair-font {
  font-family: Aladin, cursive;
}
.services-header h3 {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.services-header .upper {
  text-transform: uppercase !important;
}
.services-header .bold {
  font-weight: 600 !important;
}

.tour_packages {
  background: #fff;
}

.banner-section .otherbanner-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .banner-section .otherbanner-desk {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .banner-section .otherbanner-mb {
    display: none;
  }
}

.about-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
.about-section .about-img {
  margin-bottom: 25px;
}
.about-section .about-img img {
  width: 100%;
}
.about-section .staff-row {
  margin-bottom: 3rem;
}
.about-section .staff-row .staff-desc {
  margin-bottom: 25px;
}
.about-section .about-wrap {
  margin-bottom: 3rem;
}
.about-section h4 {
  margin-bottom: 20px;
}
.about-section .our-vision img,
.about-section .our-mission img {
  max-width: 65px;
  height: 48px;
  margin-bottom: 20px;
}

.cutomised-section .socical-icn input {
  margin-right: 10px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .cutomised-section .socical-icn input {
    margin-right: 6px;
    margin-left: 6px;
  }
}
@media screen and (min-width: 992px) {
  .cutomised-section .socical-icn input {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.cutomised-section .arrival-date input {
  background: url("../images/icons/calendar.svg") no-repeat right/10%;
  background-size: 50px 20px;
}

.cutomised-section .laguage-guide .check-btn {
  display: flex;
}
.cutomised-section .laguage-guide .check-btn .form-check {
  margin-right: 10px;
}
@media screen and (min-width: 376px) {
  .cutomised-section .laguage-guide .check-btn .form-check {
    margin-right: 15px;
  }
}

.cutomised-section .staff-row .header-underline {
  margin-bottom: 40px;
}

.cutomised-section .staff-row .second-col {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .cutomised-section .staff-row .second-col {
    margin-top: 0;
  }
}

.cutomised-section .staff-row .booking-formbtn button {
  background: linear-gradient(105deg, #5d4601 0, #ba8b02 79%) 0 0 no-repeat;
  border-radius: 10px;
}

.contact-wrap .contact-info {
  border-bottom: 1px solid #ccc;
}
.contact-wrap .contact-info .header-underline::after {
  margin: 0;
}
.contact-wrap .contact-info ul {
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
}
.contact-wrap .contact-info ul li {
  display: flex;
  margin-bottom: 1.5rem;
}
.contact-wrap .contact-info ul li a span {
  color: #333;
}
.contact-wrap .contact-info ul li i {
  margin-right: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.contact-wrap .share-with-us {
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-wrap .share-with-us .share-with-us-blog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}
.contact-wrap .share-with-us .share-with-us-blog i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  padding-top: 0;
  margin-right: 15px;
  font-size: 20px;
  color: #fff;
  background: #51baed;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transition: all .15s ease-in-out;
}
.contact-wrap .share-with-us .share-with-us-blog i:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  transition: all .15s ease-in-out;
}
.contact-wrap .share-with-us .share-with-us-blog .fa-facebook-f {
  background: #3e8bc4;
}
.contact-wrap .share-with-us .share-with-us-blog .fa-viber {
  background: #665cac;
}
.contact-wrap .share-with-us .share-with-us-blog .fa-instagram {
  background: linear-gradient(to bottom left, #feda77, #ea2739);
}

.enquiry-form .input-group {
  padding-top: 20px;
}
.enquiry-form .input-group .input-group-prepend label {
  width: 135px;
}

.package_tour_detail {
  background: #fff;
}
.package_tour_detail .tour_detail_des {
  margin-top: 30px;
}
.package_tour_detail .tour_detail_des .duration {
  margin-top: 20px;
}
.package_tour_detail .tour_detail_des .duration i {
  padding-right: 5px;
  color: #ba8b02;
}
.package_tour_detail .tour_detail_des .price {
  margin-top: 15px;
  color: #ba8b02;
}
.package_tour_detail .tour_detail_des .desc {
  margin-top: 20px;
}

.tour-booking {
  background: #f0f4f5;
}
.tour-booking h4 {
  margin-bottom: 30px;
}
.tour-booking .form-group .form-control {
  background: #f0f4f5;
}
.tour-booking .arrival-date input {
  background: url("../images/icons/calendar.svg") no-repeat right/10%;
  background-size: 50px 20px;
}

.detail-feture-slide {
  padding-top: 40px;
}
.detail-feture-slide .banner-slide-wrapper .banner-slide .slick-list {
  border-radius: 10px;
}

.tourdetail-bg {
  background: #f0f4f5;
}
.tourdetail-bg .arrival-date-detail .calendar {
  position: relative;
}
.tourdetail-bg .arrival-date-detail .calendar::before {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 60px;
  height: 32px;
  content: "";
  background: url("../images/icons/calendar.svg") no-repeat right/30%;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Oleo Script", cursive;
}

h4,
h5,
p,
a,
span {
  font-family: Nunito, sans-serif;
}

h4 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
}

.arrival-date input {
  background: url("../images/icons/calendar.svg") no-repeat right/10%;
  background: #fff;
  background-size: 50px 20px;
}

.d-animate {
  visibility: none;
  opacity: 0;
  transition: all 1s ease;
}
.d-animate.active {
  visibility: visible;
  opacity: 1;
}

.float-contact-us .contact-us .contact-us-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(105deg, #5d4601 0, #ba8b02 79%) 0 0 no-repeat;
  border-radius: 41px;
}
.float-contact-us .contact-us .contact-us-btn i {
  font-size: 15px;
  color: #fff;
  transform: rotate(0deg);
}

.social-icns #shareBlock a .fa-stack i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
}
.social-icns #shareBlock a .fa-stack i.insta-color {
  background: linear-gradient(to bottom left, #feda77, #ea2739);
}
.social-icns #shareBlock a .fa-stack i.viber-color {
  background: #665cac;
}
.social-icns #shareBlock a .fa-stack i.fb-color {
  background: #3b5998;
}
.social-icns #shareBlock a .fa-stack i.tw-color {
  background: #51baed;
}
