#booking-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title.bold Booking Now
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .booking-info-form
          .car-rental-booking
            h5.bold Tours Booking
            .row
              .col-md-6.car-rental-booking-form
                label Number of travel person
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-user-plus(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              .col-md-6.car-rental-booking-form
                label Estimate Budget
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-credit-card(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              .col-md-6.car-rental-booking-form
                label Estimate Date Arrival
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-calendar-alt(aria-hidden='true')
                  input.date.form-control(type='text' placeholder='Search' aria-label='Search')
              .col-md-6.car-rental-booking-form
                label  Estimate Date Departure 
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-calendar-alt(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
            .row          
              .col-md-6.car-rental-booking-form
                label What service you want?
                .custom-control.custom-checkbox
                  input#inputchk.custom-control-input(type='checkbox')
                  label.custom-control-label(for='inputchk') 
                    span Full package
              .col-md-6.car-rental-booking-form
                label Choose only some service
                .d-flex
                  .custom-control.custom-checkbox
                    input#inputchk-1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='inputchk-1') 
                      span Food + Guide
                  .custom-control.custom-checkbox
                    input#inputchk-2.custom-control-input(type='checkbox')
                    label.custom-control-label(for='inputchk-2') 
                      span Entrace Fee
                .d-flex
                  .custom-control.custom-checkbox
                    input#inputchk-3.custom-control-input(type='checkbox')
                    label.custom-control-label(for='inputchk-3') 
                      span Hotel
                  .custom-control.custom-checkbox
                    input#inputchk-4.custom-control-input(type='checkbox')
                    label.custom-control-label(for='inputchk-4') 
                      span Car
            .row        
              .col-md-6.car-rental-booking-form
                label Name
                  span.star *
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-address-book(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              .col-md-6.car-rental-booking-form
                label Email
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-envelope(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              .col-md-6.car-rental-booking-form
                label Contact number
                  span.star *
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-phone-alt(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              .col-md-6.car-rental-booking-form
                label Line ID
                .input-group.md-form
                  .input-group-prepend
                    span.input-group-text
                      i.fab.fa-line(aria-hidden='true')
                  input.form-control(type='text', aria-label='Search')
              //- .col-12
              //-   .submit-btn
              //-     button.btn.btn-warning.upper Submit
          //- .share-with-us.text-center
          //-   h6 share with us
          //-   .share-with-us-blog
          //-     a(href="#")
          //-       i.fab.fa-facebook-f
          //-     a(href="#")
          //-       i.fab.fa-google-plus-g
          //-     a(href="#")
          //-       i.fab.fa-twitter
          //-     a(href="#")
          //-       i.fab.fa-instagram
      .modal-footer
        button.btn.btn-warning.upper Submit
        //- button.btn.btn-primary.upper(type='button') Save changes                          
        //- button.btn.btn-secondary.upper(type='button' data-dismiss='modal') Cancel
