mixin breadcrumb(data, name)
  .breadcrumb-section
    .container
      nav.breadcrumb-nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a.upper(href=data.home.url) #{data.home.txt}
          if name
            li.breadcrumb-item
              span.upper=name
