footer
  .container
    .row
      .col-md-4.email
        .footer-logo 
          img(src="./assets/images/icons/ft-logo.png", alt="")
          .logo-text
            h3 Great Memories
            p travel & tour 
        .share-with-us-blog
          a(href="#").text-center
            i.fab.fa-facebook-f
          a(href="#").text-center 
            i.fab.fa-instagram
          a(href="#").text-center
            i.fab.fa-twitter
          a(href="#").text-center 
            i.fab.fa-viber
      .col-md-4.address
        h3 Links
        ul 
          li 
            a(href="index.html") Home
          li 
            a(href="about.html") About   
          li 
            a(href="tour-packages.html") Tour Packages 
          li 
            a(href="customise-tour.html") Customise Tour 
          li 
            a(href="contactus.html")  Contact 

      .col-md-4.ph-number
        h3 Contact Us 
        .contact-phone.d-flex
          p.bold Phone
          a(href="tel:+95 9 xxxxxxxxx") +95 9 xxxxxxxxx
        .contact-mail.d-flex
          p.bold Email 
          a(href="mailto:") xxxxxx @xxxx.com
        .contact-address.d-flex
          p.bold Address
          span.address-txt xxxxx xxxx xxx xxxxxxxxxx xxxxxxxxxxx xxxxxx
          
      
nav.copy-right
  .container
    .row
      .col-12.text-center
        p Copyright &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Great Memories Travel & Tours Co.,Ltd. All Rights Reserved. Powered by
          a(href='http://www.innovixdigital.com/' target='_blank') Innovix Digital
