include ./_var.pug
include ./_breadcrumb.pug
//- include ../exports/exported.db.pug
header    
  <!-- header top -->
  .top-nav.header-sticky
    .container
      .row
        .col-md-12
          .top-navbar
            .navbar-phone-no
              a.top-nav-phone(href="tel:+95 9 xxxxxxxxx")
                img(src="./assets/images/icons/phone-call.svg", alt="")
                span +95 9 xxxxxxxxx
              
            .language-switch
              a(href="#")
                div.en                
                  img(src="./assets/images/icons/en.svg", alt="")
              span |
              a(href="#")
                div.jp                
                  img(src="./assets/images/icons/jp.svg", alt="")
              
  
  nav.navbar.navbar-expand-lg.navbar-light.p-0#navbar-sticky
    .container
      .logo-section
        a.navbar-brand(href='./index.html')
          img.img-fluid(src='./assets/images/icons/logo.jpg', alt='banner one')
        a.logo-test(href='./index.html') 
          h3 Great Memories
          p travel & tour
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #headerNav.collapse.navbar-collapse.dsk-navbar
        .navbar-nav
          .nav-item
            a(href="")
          .nav-item.active
            a.nav-link.bold.upper(href='./index.html') Home
              span.sr-only (current)
          .nav-item
            a.nav-link.bold.upper(href='about.html') About
          .nav-item
            a.nav-link.bold.upper(href='tour-packages.html') Tour Packages
          .nav-item
            a.nav-link.bold.upper(href='customise-tour.html') Customise Tour
          .nav-item
            a.nav-link.bold.upper(href='tour-packages-detail.html') Popular Destination
          .nav-item
            a.nav-link.bold.upper(href='contactus.html') Contact
          
  
