.booking-pagination
  nav(aria-label='Page navigation example')
    ul.pagination.pg-blue
      li.page-item.disabled
        a.page-link.prev(tabindex='-1')   <!-- prev pagination -->
      li.page-item.active
        a.page-link 1
      li.page-item
        a.page-link
          | 2 
          span.sr-only (current)
      li.page-item
        a.page-link 3
      li.page-item
        a.page-link.next    <!-- next pagination -->

//- .pagin-load-more.text-center
//-   button.btn.btn-primary.md-form.waves-effect.waves-light.load-more
//-     | Load more
//-     i.fas.fa-chevron-down
