@import "./components/variable";
@import "./components/card";
@import "./components/breadcrumb";
@import "./components/header";
@import "./components/footer";
@import "./components/pagination";
@import "./components/floating";
@import "./components/common";
@import "./components/home";
@import "./components/about";
@import "./components/customised-tour";
@import "./components/contactus";
@import "./components/tour-packages-detail";



body {
	font-family: Poppins, sans-serif;
	font-weight: 400;
}
h1,h2,h3{
	font-family: "Oleo Script", cursive;
}
h4,h5,p,a,span{
	font-family: Nunito, sans-serif;
}
h4{
	font-size: 18px;
	@media screen and (min-width:768px){
		font-size: 24px;
	}
}

.arrival-date{
	input{
		background: url("../images/icons/calendar.svg") no-repeat right/10%;
		background-size: 50px 20px;
		background:#FFFFFF;
	}
}

.d-animate {
	opacity: 0;
	visibility: none;
	transition: all 1s ease;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.float-contact-us{
	.contact-us{
		
		.contact-us-btn{
			color: inherit;
			text-decoration: none;
			background: linear-gradient(105deg,#5d4601 0,#ba8b02 79%) 0 0 no-repeat;
			width: 37px;
			height: 37px;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			border-radius: 41px;
			i{
				font-size: 15px;
				transform: rotate(0deg);
				color: #FFFFFF;
			}
		}
	}
	
	
}
.social-icns{
	#shareBlock{
		a{
			.fa-stack{
				i{
					
						
						color: white;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						&.insta-color{
							background: linear-gradient(to bottom left, #FEDA77, #ea2739);
						}
						&.viber-color{
							background:#665CAC;
						}
						&.fb-color{
							background: #3b5998;
						}
						&.tw-color{
							background: #51baed;
						}
				}
			}
		}
	}	
}


