- 
  var breadcrumb_links = 
  {
    home: {url:'./index.html',txt:'home'},
    about_us:{url:'./about.html',txt:'about'},
    blog:{url:'./blog.html',txt:'blog'},
    blog_detail:{url:'./blog-detail.html',txt:'blog detail'},
    booking:{url:'./booking.html',txt:'booking'},
    car_rental:{url:'./car-rental.html',txt:'car rental'},
    myanmar_tour:{url:'./myanmar-tour.html',txt:'myanmar tour'},
    asean_tour:{url:'./asean-tour.html',txt:'asean tour'},
    t_booking:{url:'./tour-booking.html',txt:'tour booking'},
    t_booking_photo:{url:'./tour-booking-photo.html',
    txt:'tour booking photo'},
    t_booking_update:{url:'./tour-booking-update.html',txt:'tour booking update'},
    travel_info:{url:'./travel-info.html',txt:'travel info'},
    contact_us:{url:'./contactus.html',txt:'contact us'}
    }
- 
  var cards = [
  {
    image:"assets/images/uploads/blog_img-1.jpg",
    label:"4D3N: MDL-BAGAN",
    amount:"5 Days",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/maldive.jpg",
    label:"4D3N: YGN-Bago-KTY",
    amount:"10 Days",
    Desc:"First day (1) Ngwe Saung Second day (2) Chaung Thar Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/inle-lake.jpg",
    label:"4D3N: MDL-Inlay",
    amount:"2 Days",
    Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/pwin-oo-lwin.jpg",
    label:"4D3N: Bagan-Popa",
    amount:"2 Days",
    Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/Kanbawzathadi.jpg",
    label:"4D3N: Ngapali-Thandwe",
    amount:"2 Days",
    Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/popa.jpg",
    label:"4D3N: YGN-Mawlamyine",
    amount:"2 Days",
    Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/blog_img-3.jpg",
    label:"4D3N: YGN-Ngapali",
    amount:"2 Days",
    Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
    },
    {
      image:"assets/images/uploads/pagoda.jpg",
      label:"5D: MDY-Sagaing",
      amount:"2 Days",
      Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
      link:"http://www.google.com",
      link_text:"Read more",
      booking:"Book Now"
    },
    {
      image:"assets/images/uploads/sagaing.jpg",
      label:"4D3N: YGN-POL",
      amount:"2 Days",
      Desc:"First day (1) Taunggyi-kalay Second day (2) inlay",
      link:"http://www.google.com",
      link_text:"Read more",
      booking:"Book Now"
    }
  ] 
- 
  var chooseNote = [
  {
    image:"assets/images/icons/tracking.png",
    header_txt:"Unique Destinations",
    Desc:"Looking for a unique vacation destination? Then maybe a trip to one of the 10 most unique tourist destinations might."},{image:"assets/images/icons/money-bag.png",
    header_txt:"Worth of Money",
    Desc:"There is not a better way to spend money, than spending money on travel. This is what we say, others and science."},{image:"assets/images/icons/destination.png",
    header_txt:"wonderful Places",
    Desc:"ThereWe do our best to have you a wonderful experience by taking you to the wonderful and amazing places around the world."},{image:"assets/images/icons/document.png",
    header_txt:"Quick Booking",
    Desc:"Booking is quick as clicking a few clicks. We take care of all transportation and accommodations during your journey."},{image:"assets/images/icons/24-hours.png",
    header_txt:"Best Service",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/icons/cup.png",
    header_txt:"Exciting Travel",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}] - var popularDist = [{image:"assets/images/uploads/inle-lake.jpg",
    header_txt:"Inlay",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/uploads/Kanbawzathadi.jpg",
    header_txt:"Myauk Oo",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/uploads/bamboodance.jpg",
    header_txt:"Chin",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/uploads/destination_hpa_an.jpg",
    header_txt:"Hpa",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/uploads/Mandalay.jpg",
    header_txt:"Mandalay",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."},{image:"assets/images/uploads/Smart_Island.jpg",
    header_txt:"Myeik",
    Desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}] - var aseanCard = [{image:"assets/images/uploads/thai.jpg",
    label:"Thailand",
    amount:"5 Days",
    country:"Thailand",
    country_flag:"assets/images/uploads/thai_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"
  },
  {
    image:"assets/images/uploads/maldive.jpg",
    label:"Maldives",
    amount:"10 Days",
    country:"Maldives",
    country_flag:"assets/images/uploads/maldive_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"},{image:"assets/images/uploads/vietnam.jpg",
    label:"Vietnam",
    amount:"2 Days",
    country:"vietnam",
    country_flag:"assets/images/uploads/vietnam_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"},{image:"assets/images/uploads/thai.jpg",
    label:"Thailand",
    amount:"5 Days",
    country:"Thailand",
    country_flag:"assets/images/uploads/thai_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"},{image:"assets/images/uploads/maldive.jpg",
    label:"Maldives",
    amount:"10 Days",
    country:"Maldives",
    country_flag:"assets/images/uploads/maldive_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"},{image:"assets/images/uploads/vietnam.jpg",
    label:"Vietnam",
    amount:"2 Days",
    country:"vietnam",
    country_flag:"assets/images/uploads/vietnam_flag.png",
    Desc:"First day(1) Mandalay-Inwwa Second day(2) Sagaing-Monywa-Day 3 (3)",
    link:"http://www.google.com",
    link_text:"Read more",
    booking:"Book Now"}
  ] 
- 
  var blogCard = [
  {
    image:"assets/images/uploads/available-service-img-1.png",
    label:"Ticketing",
    desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link_text:"Learn More",
    link:"http://www.google.com"},{image:"assets/images/uploads/available-service-img-2.png",
    label:"Car Rental",
    desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link_text:"Learn More",
    link:"http://www.google.com"
  },
  {
    image:"assets/images/uploads/available-service-img-3.png",
    label:"Hotel Reservations",
    desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link_text:"Learn More",
    link:"http://www.google.com"
  },
  {
    image:"assets/images/uploads/available-service-img-4.png",
    label:"Visa Applications",
    desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link_text:"Learn More",
    link:"http://www.google.com"
  },
  {
    image:"assets/images/uploads/available-service-img5.jpg",
    label:"Cruise & Ballons",
    desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link_text:"Learn More",
    link:"http://www.google.com"
  }
  ] 
